<app-header></app-header>

<div class="registro-container">
  <div class="lado izquierdo">
    <div class="contenido-registro text-center">
      <img src="registro/paciente.png" alt="Paciente" class="imagen-registro" routerLink="/paciente"/>
      <div class="label-registro text-dark">Paciente</div>
    </div>
  </div>
  <div class="lado derecho">
    <div class="contenido-registro text-center">
      <img src="registro/especialista.png" alt="Especialista" class="imagen-registro" routerLink="/especialista"/>
      <div class="label-registro text-light">Especialista</div>
    </div>
  </div>
</div>

<app-footer></app-footer>
