<!-- Contenedor principal -->
<div class="container d-flex justify-content-center">
  <div class="row-custom-width chat-box shadow-custom rounded overflow-hidden d-flex flex-column" style="max-width: 800px; height: 400px;">

    <!-- Header -->
<div class="p-1 bg-azul text-white d-flex justify-content-between align-items-center">
  <strong class="ms-2">Listado especialista</strong>
</div>

    <!-- Tabla dinámica -->
    <div class="flex-grow-1 overflow-auto p-4" style="background-color: #f8f9fa;">
      
        <table class="table table-sm table-striped table-bordered">
          <thead>
            <tr><th>Nombre</th><th>Apellido</th><th>Dni</th><th>Edad</th><th>Especialidades</th><th>Estado</th></tr>
          </thead>
          <tbody>
            @for (item of especialistas(); track item.id) {
              <tr>
                <td>{{ item.nombre }}</td>
                <td>{{ item.apellido }}</td>
                <td>{{ item.dni }}</td>
                <td>{{ item.edad }}</td>
                <td>{{ item.especialidades }}</td>
                <td> 
                    @if(item.aprobacion_admin){
                        <button class="btn btn-success" (click)="cambiarEstadoAprobacion(item.id, false)">Habilitado</button>
                    }@else {
                        <button class="btn btn-danger" (click)="cambiarEstadoAprobacion(item.id, true)">Deshabilitado</button>
                    }
                </td>
              </tr>
            }
          </tbody>
        </table>

    </div>


  </div>
</div>
