:host {
  display: block;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.btn-primary, .bg-azul{
    background-color: #015761;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.btn-success{
  background-color: #015761;
}

.rounded-abajo{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

.shadow-custom {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.titulo{
    font-size: 0.8rem;
}

.grafico-container {
  width: 100%;
     /* cambias este valor para ajustar la altura */
  display: flex;
  justify-content: center;
  align-items: center;
}

.grafico-container canvas {
  width: 100% !important;  /* fuerza al canvas a usar todo el ancho */
  height: 100% !important; /* fuerza al canvas a usar toda la altura */
}

.paciente{
  background-color: #3498db;
}

.especialista{
  background-color: #2ecc71;
}

.administrador{
  background-color: #f1c40f;
}

.texto-horarios-guardados{
  font-size: 0.6rem;
}

.cuadrado-color {
  width: 8px;
  height: 8px;
  border-radius: 3px;
}

.texto-referencia{
  font-size: 0.8rem;
}



  .hide-toggle::after {
  display: none !important;
}

  


