<app-header></app-header>

<div class="registro-container">
  <!-- Sidebar -->
  <nav class="sidebar bg-light p-3">
    <h5 class="mb-4">Administración</h5>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="listado-usuarios" >Listado usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="administrar-especialistas" >Administrar especialistas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="agregar-usuario" >Registrar usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="agregar-admin">Agregar administrador</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" routerLink="turnos">Turnos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="solicitar-turno" >Solicitar turno</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="graficos" >Gráficos</a>
      </li>
    </ul>
  </nav>

  <!-- Contenido principal -->
   <div class="w-100 h-100 p-2">
     <div [@routeAnimations]="getRouteAnimationData()" class="contenido">
        <div *ngIf="mostrarTexto">
         <h2>Sección de Usuarios</h2>
         <p>Seleccione alguna opción de la barra lateral.</p>
       </div>
       <router-outlet/>
     </div>
   </div>

   </div>

<app-footer></app-footer>
