:host {
  display: block;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.btn-primary, .bg-azul{
    background-color: #015761;
}

.shadow-custom {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}



/* Botón circular */
.btn-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #019dbb;
}


.imagen-circle {
  width: 90%;
  height: 90%;
  padding: 2px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ccc;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.imagen-circle:hover {
  transform: scale(1.05);
  border: 4px solid #015761;
}

/* Active state */
.btn-circle.active,
.btn-outline-primary.active,
.btn-outline-secondary.active {
  background-color: #015761;
  color: #fff;
  border-color: #015761;
}


/* Dia y hora */

.btn-dia{
    width: 60px;
    border-radius: 4px;
  font-size: 0.8rem;
}

.btn-horario{
    border-radius: 4px;
  font-size: 0.8rem;
}

/* Borde y texto del outline */
.btn-outline-primary {
  border-color: #015761 !important;
  color: #015761 !important;
}

/* Hover: fondo más claro y texto blanco */
.btn-outline-primary:hover {
  background-color: #027d8c !important; /* un cyan tirando a claro */
  border-color:  #027d8c !important;
  color: #fff !important;
}

/* Active (cuando está seleccionado) */
.btn-outline-primary.active,
.btn-outline-primary:active {
  background-color: #015761 !important;
  border-color:     #015761 !important;
  color:            #fff !important;
}

/* Animacion */
@keyframes slideInFwdCenter {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideInFwdCenter 1s ease-out 0s both;
}

.slide-in-texto {
  animation: slideInFwdCenter 1s ease-out 0.5s both;
}