<!-- Contenedor principal -->
<div *ngIf="modo === 'listado'" class="container d-flex justify-content-center align-items-center" style="height: 100%;">
  <div class="row-custom-width chat-box shadow-custom rounded overflow-hidden d-flex flex-column"
    style="max-width: 800px; height: 420px;">

    <!-- Header -->
    <div class="p-1 bg-azul text-white d-flex justify-content-between align-items-center">
      <strong class="ms-2">Listado usuarios</strong>
      @if (rolSeleccionado === 'todos') {
      <button class="btn btn-success me-2" (click)="descargarExcelTodos()">Exportar Excel</button>
      }
    </div>

    <!-- Tabla dinámica -->
    <div class="flex-grow-1 overflow-auto p-4" style="background-color: #f8f9fa;">

      @if (rolSeleccionado === 'paciente') {
      <table class="table table-sm table-striped table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dni</th>
            <th>Edad</th>
            <th>Obra social</th>
            <th>Foto 1</th>
            <th>Foto 2</th>
            <th>Turnos excel</th>
            <th>Historia Clínica</th>
          </tr>
        </thead>
        <tbody>
          @for (item of estadisticasPorRol['paciente']; track item.id) {
          <tr>
            <td class="text-center align-middle">{{ item.nombre }}</td>
            <td class="text-center align-middle">{{ item.apellido }}</td>
            <td class="text-center align-middle">{{ item.dni }}</td>
            <td class="text-center align-middle">{{ item.edad }}</td>
            <td class="text-center align-middle">{{ item.obra_social }}</td>
            <td class="text-center align-middle">
              <img src="{{ item.foto_1 }}" alt="foto 1 paciente" style="width: 40px; height: 40px;">
            </td>
            <td class="text-center align-middle"> 
              <img src="{{ item.foto_2 }}" alt="foto 2 paciente" style="width: 40px; height: 40px;">
            </td>
            <td class="text-center align-middle">
              
                <div class="d-flex flex-column align-items-center">
                  <button type="button" class="btn btn-light btn-circle" (click)="descargarExcelPorPaciente(item)">
                    <img class="imagen-circle" src="{{item.foto_1}}" alt="foto 1 paciente">
                  </button>
                  <div class="mt-1 small text-center"> <strong>{{ item.nombre}}</strong></div>
                </div>

              
            </td>
            <td class="text-center align-middle">
              <button class="btn btn-danger" (click)="selectPaciente(item.id)">ver</button>
            </td>
          </tr>
          }
        </tbody>
      </table>
      } @else if (rolSeleccionado === 'especialista') {
      <table class="table table-sm table-striped table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dni</th>
            <th>Edad</th>
            <th>Especialidades</th>
            <th>Foto 1</th>
          </tr>
        </thead>
        <tbody>
          @for (item of estadisticasPorRol['especialista']; track item.id) {
          <tr>
            <td class="text-center align-middle">{{ item.nombre }}</td>
            <td class="text-center align-middle">{{ item.apellido }}</td>
            <td class="text-center align-middle">{{ item.dni }}</td>
            <td class="text-center align-middle">{{ item.edad }}</td>
            <td class="text-center align-middle">{{ item.especialidades }}</td>
            <td class="text-center align-middle"> <img src="{{ item.foto_1 }}" alt="foto 1 especialista" style="width: 40px; height: 40px;"></td>
          </tr>
          }
        </tbody>
      </table>
      } @else if (rolSeleccionado === 'administrador') {
      <table class="table table-sm table-striped table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dni</th>
            <th>Edad</th>
            <th>Foto 1</th>
          </tr>
        </thead>
        <tbody>
          @for (item of estadisticasPorRol['administrador']; track item.id) {
          <tr>
            <td class="text-center align-middle">{{ item.nombre }}</td>
            <td class="text-center align-middle">{{ item.apellido }}</td>
            <td class="text-center align-middle">{{ item.dni }}</td>
            <td class="text-center align-middle">{{ item.edad }}</td>
            <td class="text-center align-middle"> <img src="{{ item.foto_1 }}" alt="foto 1 administrador" style="width: 40px; height: 40px;"></td>
          </tr>
          }
        </tbody>
      </table>
      } @else if (rolSeleccionado === 'todos') {
      <table class="table table-sm table-striped table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dni</th>
            <th>Edad</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Foto 1</th>
            <th>Foto 2</th>
          </tr>
        </thead>
        <tbody>
          @for (item of estadisticasPorRol['todos']; track item.id) {
          <tr>
            <td class="text-center align-middle">{{ item.nombre }}</td>
            <td class="text-center align-middle">{{ item.apellido }}</td>
            <td class="text-center align-middle">{{ item.dni }}</td>
            <td class="text-center align-middle">{{ item.edad }}</td>
            <td class="text-center align-middle">{{ item.email }}</td>
            <td class="text-center align-middle">{{ item.rol }}</td>
            <td class="text-center align-middle"> <img src="{{ item.foto_1 }}" alt="foto 1 usuario" style="width: 40px; height: 40px;"></td>
            <td class="text-center align-middle">
              @if(item.rol === 'paciente'){
              <img src="{{ item.foto_2 }}" alt="foto 2 usuario" style="width: 40px; height: 40px;">
              }
            </td>
          </tr>
          }
        </tbody>
      </table>
      }@else {
      <div class="text-center text-muted">Seleccioná un rol para ver el listado.</div>
      }

    </div>

    <!-- Botones -->
    <div class="p-4 border-top d-flex align-items-center gap-2 justify-content-center"
      style="background-color: #ffffff;">
      <button class="btn btn-primary" (click)="cargarTabla('paciente')">Paciente</button>
      <button class="btn btn-primary" (click)="cargarTabla('especialista')">Especialista</button>
      <button class="btn btn-primary" (click)="cargarTabla('administrador')">Administrador</button>
      <button class="btn btn-primary" (click)="cargarTabla('todos')">Todos</button>
    </div>

  </div>
</div>

<div class="container d-flex justify-content-center align-items-center" style="height: 100%;">
<div *ngIf="modo === 'historia_clinica' && selectedPaciente !== ''"
    class="row-custom-width chat-box shadow-custom rounded overflow-hidden d-flex flex-column"
    style="width: 500px; height: 420px;">
    <!-- Header -->
    <div class="p-1 bg-azul text-white d-flex justify-content-between align-items-center">
      <strong class="ms-2">Historia Clinica</strong>
      <button class="btn btn-danger me-2" (click)="volverAlListado()">Volver al listado</button>
    </div>

    <!-- Contenido -->
    <div class="flex-grow-1 overflow-hidden p-2 d-flex flex-column align-items-center justify-content-center"
      style="background-color: #f8f9fa;">
      <div class="h-100 w-100 d-flex flex-column">
        @if (turnosPorId) {
        <!-- Listado Turnos -->
        <div class="flex-grow-1 overflow-auto rounded d-flex flex-column align-items-center" style="background-color: rgb(235, 235, 235);"  >
          <div *ngFor="let item of turnosPorId[selectedPaciente]; trackBy: trackById">
          <div class="flex-grow-1 overflow-hidden p-2 d-flex flex-column align-items-center m-3 shadow-custom rounded"
             style="min-height: 320px; max-width: 420px; width: 100%;background-color: rgb(190, 189, 189);">

            <!-- Header -->
            <div class="p-1 bg-azul text-white d-flex justify-content-between align-items-center w-100 rounded">
              <strong class="ms-2">{{ formatearFecha(item.fecha) }} {{ formatHorario(item.hora) }}</strong>
              
            </div>
            <div class="flex-grow-1 d-flex flex-column align-items-center justify-content-center h-100 w-100">


            <!-- Especialidad y Especialista (misma fila) -->
            <div class="d-flex justify-content-between align-items-center h-100 w-100  px-3  m-2">
              <p class="mb-0 texto-historia h-100"><strong>Especialidad:</strong> {{ item.especialidad }}</p>
              <p class="mb-0 texto-historia h-100"><strong>Especialista:</strong> {{ item.especialista?.nombre }} {{
                item.especialista?.apellido }}</p>
            </div>

            <hr class="w-100 my-2 h-100" />

            <!-- Diagnóstico -->
            <div class="  px-3 w-100 h-100 m-2">
              <p class="mb-0 texto-historia h-100"><strong>Diagnóstico:</strong> {{ item.comentario }}</p>
            </div>

            <hr class="w-100 my-2 h-100" />

            <!-- Datos consulta -->
            <div class="d-flex justify-content-between align-items-center w-100 px-3 pt-2 h-100 " *ngIf="item.datos_consulta_parseado">
              <div class="text-center px-3 h-100">
                <p class=" mb-1 texto-historia"><strong>Altura:</strong> {{ item.datos_consulta_parseado.altura }}</p>
                <p class="mb-1 texto-historia"><strong>Peso:</strong> {{ item.datos_consulta_parseado.peso }}</p>
                <p class="mb-1 texto-historia"><strong>Temperatura:</strong> {{ item.datos_consulta_parseado.temperatura }}</p>
                <p class="mb-1 texto-historia"><strong>Presión:</strong> {{ item.datos_consulta_parseado.presion }}</p>

              </div>
              <div class="text-center px-3 h-100">
                <p *ngIf="item.datos_consulta_parseado.extras" class="mb-1 texto-historia"><strong>Datos adicionales:</strong></p>
  
                <ng-container *ngIf="item.datos_consulta_parseado.extras">
                  <p *ngFor="let clave of objectKeys(item.datos_consulta_parseado.extras)" class="mb-1 texto-historia">
                    <strong>{{ clave }}:</strong> {{ item.datos_consulta_parseado.extras[clave] }}
                  </p>
                </ng-container>

              </div>
            </div>
            </div>
          </div>
          </div>


        </div>
        }
      </div>
    </div>
  </div>
</div>