/* Estilo raíz del componente */
:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

/* Contenedor principal entre header y footer */
.registro-container {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
}

/* Laterales izquierdo y derecho */
.lado {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.izquierdo {
  background-color: #ffffff;
  padding: 1rem 0 1rem 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
    
}


.derecho {
  background-color: #015761;
  background-image: url('/login/login_derecha.png');
  background-size: cover;
  color: #fff;
}

.texto{
    background-image: linear-gradient(0deg, #395d8480, #020a1480);
    padding: 4%;
}


